* {
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

/* common */
html {
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

.clear {
    clear: both;
}

.text-white {
    color: #fff !important;
}

.row {
    margin-left: -8px;
    margin-right: -8px;
}

.col {
    float: left;
    padding: 0 8px;
}

.col-third {
    width: calc(100% / 3);
}

.col-half {
    width: 50%;
}

.col-full {
    width: 100%;
}

.text-center{
    text-align: center !important;
}

.row::after {
    content: "";
    display: block;
    clear: both;
}

.mt-8 {
    margin-top: 8px !important;
}

.mt-16 {
    margin-top: 16px !important;
}

.btn {
    color: #fff;
    text-decoration: none;
    background-color: #000;
    padding: 8px 16px;
    display:inline-block;
    margin-bottom: 16px;
    border: none;
}

.btn:hover{
    color: #000;
    background-color: #ccc;
    cursor: pointer;
}

.pull-right {
    float: right;
}

#main {

}

/* Header */
#header {
    height: 46px;
    background-color: #000;
    position: fixed;
    top: 0;
    left: 0;
    right:  0;
    z-index: 1;
}

#nav {
    display: inline-block;
}

#nav li {
    display: inline-block;
    position: relative;
}

#nav > li > a {
    text-transform: uppercase;
    color: #fff;
    display: inline-block;
    padding: 12px 24px 12px 24px;
}

#nav li a {
    display: block;
    line-height: 22px;
    text-decoration: none;
}
#nav .subnav li:hover a,
#nav > li:hover > a {
    color: #000;
    background-color: #ccc;
}

#nav li:hover .subnav {
    display: block;
}

#nav .subnav {
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
    top: 100%;
    left: 0;
}

#nav .subnav li {
    display:block;
}

#nav .subnav a {
    color: #000;
    padding: 8px 16px 8px 16px;
    min-width: 160px;
}

#header .nav-arrow-down {
    font-size: 14px;
}

#header .search-btn {
    float: right;
    padding: 12px 24px;
    line-height: 22px;
}

#header .search-btn:hover {
    background-color: #f44336;
    cursor: pointer;
}

#header .search-icon {
    color: #fff;
}

/* Slider */

#slider {
    position: relative;
    margin-top:46px;
    padding-top:50%;
    background: url('https://user-images.githubusercontent.com/98354414/152097012-06e191fa-bc33-44a7-b9d7-87facabf5191.png') top center / cover no-repeat;
}

#slider .text-content {
    position: absolute;
    color: #fff;
    width: 100%;
    text-align: center;
    bottom:0;
    padding:32px 16px;
}

#slider .text-heading{
    font-size:24px;
    font-weight: 500;
    margin:10px 0;
}

#slider .text-description{
    font-size: 15px;
}


/* Content */
#content {
    
}

#content .content-section {
    padding: 64px 0 112px;
    width: 800px;
    margin-left:auto;
    margin-right: auto;
    
}

#content .section-heading{
    text-align: center;
    margin: 10px 0;
    font-size: 30px;
    letter-spacing: 4px;
    font-weight: 400;
    line-height: 45px;
}

#content .section-sub-heading{
    text-align: center;
    margin: 15px 0;
    font-style: italic;
    opacity: 0.6;
}

#content .about-text {
    font-size: 15px;
    margin: 15px 0;
    text-align: justify;
    line-height: 1.4;
}

#content .member-list {
    padding: 32px 0;
}


#content .member-name {
    margin: 15px 0;
    font-size: 15px;
}

#content .member-avt {
    width: 154px;
    border-radius: 4px;
}

/* Tour Section */
.tour-section{
    background-color: #000;
}

.tour-section .tickets-list{
    background-color: #fff;
    /* margin-top: 40px; */
}

.tickets-list li {
    color: #757575;
    font-size: 15px;
    padding: 8px 16px;
    line-height: 22px;
    border-bottom: 1px solid #ddd;
    list-style-type: none;

}

.tickets-list .sold-out {
    background-color: #f44336;
    padding: 3px 8px;
    font-size: 15px;
    color:  #fff;
    margin-left: 16px;
}

.tickets-list .quantity {
    height: 24px;
    background-color: #000;
    float: right;
    width: 24px;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
}

.place-list {
    margin-top: 32px;
}

.place-img {
    width: 100%;
    display: block;
}

.place-img:hover{
    opacity: 0.6;
}

.place-body {
    background-color: #fff;
    padding:0.15px 16px ;
    font-size: 15px;
}

.place-heading {
    font-size: 15px;
    font-weight: 550;
    margin: 15px 0;

}

.place-time {
    opacity: 0.6;
    margin: 15px 0;
}

.place-desc {
    margin: 15px 0;
    line-height: 1.4;
}



/* Modal */

.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0,0,0,0.3);
    align-items: center;
    justify-content: center;
    display: none;
}

.modal.open{
    display: flex;
}

.modal-container {
    background-color: #fff;
    width: 900px;
    min-height: 200px;
    position: relative;
    max-width: calc(100% - 32px);
    animation: modalFadeIn 0.5s ease;
}

header.modal-header {
    background-color: #009688;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #fff;
}

.modal-heading-icon {
    margin: 16px;
}

.modal-close {
    color: #fff;
    padding: 12px;
    position: absolute; 
    right: 0;
    top: 0;
    cursor: pointer;
    opacity: 0.8;
}

.modal-close:hover{
    opacity: 1;
}

.modal-body {
    padding: 16px;
}

.modal-input {
    display: block;
    font-size: 15px;
    border: 1px solid #ccc;
    width: 100%;
    padding: 10px;
    margin-bottom: 24px;
}

.modal-label{
    display: block;
    font-size: 15px;
    margin-bottom: 15px;
}

#buy-tiket {
    background-color: #009688;
    width: 100%;
    color: #fff;
    font-size: 15px;
    border: none;
    padding: 18px;
}

#buy-tiket:hover{
    opacity: 0.8;
    /* color: #000; */
    cursor: pointer;
}

.modal-footer {
    text-align: right;
    padding: 15px;
}

.modal-footer a {
    color: #2196F3;
}

@keyframes modalFadeIn {
    from {
        transform: translateY(-150px);
        opacity: 0;
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Contact form */
.contact-content {
    padding: 32px 0;
}

.contact-info {
    margin-bottom: 16px;
    font-size: 18px;
    line-height: 1.5;
}

.contact-info i[class*="fa fa-"] {
    width: 30px;
}

.contact-form {
    font-size: 15px;
    padding: 8px;
}

.contact-form .form-control {
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
}

/* Map Section */

.map-section img{
    width: 100%;
    filter: grayscale(50%);
}

/* Footer */
#footer {
    padding: 64px 16px;  
    text-align: center;
}

#footer .social {
    font-size: 24px;
}

#footer .copy-right,
#footer .copy-right a, 
#footer .social i {
    color: rgba(0,0,0,0.6);
}


#footer .social i:hover {
    opacity: 0.5;
}

#footer .copy-right {
    margin: 15px 0;
}
